/*눈누 - 나는야핵인싸체 최서연*/
@font-face {
    font-family: 'establishnaneunyahaeginsaOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishnaneunyahaeginsaOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A;
}

/*눈누 - Neo둥근고딕Pro*/
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range:U+AC00-D7A3;
}

* {
    margin: 0;
    padding: 0;
    font-weight:bold;
    font-family: 'establishnaneunyahaeginsaOTF', 'NeoDunggeunmoPro-Regular';
}
body{
    background-color: #f8fcff;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
img#google{
    width:30px;
    height:30px;
}
img#logo{
    width:100px;
    height:100px;
}
a {
    text-decoration: none;
    color: #000;
}
button{
    width:100px;
    height:40px;
    border-radius: 10px;
    border:2px solid grey;
    background-color:#e8e8e8;
    cursor:pointer;
}
.link:hover{
    color:rgb(68, 57, 196);
}